/*Цвет основного текста color: #212121*/
/* вторичный цвет color: #757575;*/
/* белый color: #FFFFFF;*/
/* акцент color: #2196F3;*/
/* вторичный цвет фона */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;

}


body {
  background: #FFFFFF;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container { 
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav {
  display: flex;
}
section {
  padding: 94px 0;
}


.user {
  padding-top: 0;
} 
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* Шапка */

.logo-web {
  color: var(--accent-color);
 font-family: Raleway,sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.logo {
 color: var(--primary-text-color);
 font-family: Raleway,sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}


.site-nav {
  display: flex;
 color: var(--primary-text-color);
 font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

}

.site-nav.list {
display: flex;

}
.list .item+ .item {
  margin-left: 50px;
}

.item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32 px;
  outline: 2px solid yellow;
}

.auth .item{
  display: flex;
  outline: 2px solid green;
}


.hero {
  text-align: center;
  padding: 200px 452px;
}
.title {
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
margin-top: 0;
margin-bottom: 30px;
}
.title-button,
.footer-button,
.nav-button {
  border-radius: 4px;
  text-align: center;
  background: #2196F3;
  color: #FFFFFF;
  font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}

.title-button {
  padding: 10px 32px;
}

.nav-button {
  background: #FFFFFF;
  color: #212121;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
}

/* Преимущества */
h3 {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}

.edge-text {
  color: var(--title-text-color);
  font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-top: 10px;
margin-bottom: 0;
}
.edge-img {
  background: #F5F4FA;
  margin-bottom: 30px;
}


/* Деятельность */
h2 {
  font-weight: 700;
  font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 50px;
text-align: center;
}

.list-do {
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}
/* Персонал */
.personal {
  background: #F5F4FA;
}
.personal-title {
  color:var(--title-text-color);
  font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
margin-bottom: 0;
margin-top: 10px;
}
.personal-link:hover,
.personal-link:focus {
  color:var(--accent-color);
}
.people {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}
/* Партнеры */
.customers-link:hover,
.customers-link:focus {
  color:var(--accent-color);
}

/* Футер */
.footer,
.footer-logo,
.footer-nav {
  background: #2F303A;
  color: #FFFFFF;
  font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.footer-nav link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  background: #2F303A;
  color: #FFFFFF;
  font-size: 24px;
line-height: 1.66;
letter-spacing: 0.03em;
}
/* Портфолио */

.title-work {
  font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color)
}
.text-work {
  font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
background: rgba(47, 48, 58, 0.8);
color: #FFFFFF;
}
.work-list {
  font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after { 
  box-sizing: inherit;
}
